/* >767px Width */
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
    #nav .navbar-toggle {
        border: none !important;
    }
    #nav .navbar-collapse {
        border: none !important;
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
    }
    .homeJumbo .col-md-5 iframe {
        display: none;
    }
    #features .col-md-6:first-child {
        margin-bottom: 125px;
    }
}

/* >480px Width */
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    .left,
    .right {
        float: none;
    }
}